{% extends 'core/base.html' %}

{% block content %}
  <div class="flex flex-col justify-between rounded-3xl bg-slate-200 m-20 p-8 ring-1 ring-gray-200 xl:p-10 lg:z-10 lg:rounded-b-none">
    <div>
      <p class="mt-6 text-center  items-baseline gap-x-1">
        {% for room in rooms %}
        <span class="text-4xl font-bold tracking-tight text-gray-900 text-center	">{{ room.name }}</span>   
        {% endfor %}  
      </p>
    </div>
    <a href="#" aria-describedby="tier-startup" class="mt-8 block rounded-md py-2 px-3 text-center text-sm font-semibold leading-6 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 bg-indigo-600 text-white shadow-sm hover:bg-indigo-500">JOIN</a>
  </div>
{% endblock %}